* {
  margin: 0;
  padding: 0;
}

.html, body {
  height: 100%;
}

.header {
  background-image: url("../imgs/background.svg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1110px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
.header__maintitle {
  font-family: "Oswald", sans-serif;
  color: #FFFFFF;
  font-size: 64px;
  text-align: center;
  line-height: 75px;
  margin-top: 130px;
}
.header__sub-title {
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  color: #FFFFFF;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 280px;
}
.header__years {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 1110px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 81%;
  left: 11%;
  padding: 17px 0;
  background-color: #F7F7F7;
}
.header__years__inmarket__26 {
  color: #F7654A;
  font-family: "Oswald", sans-serif;
  font-size: 72px;
  text-align: center;
}
.header__years__inmarket__year {
  color: #404149;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  text-align: center;
}
.header__years__inmarket__market {
  color: #999999;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  text-align: center;
}

.projects__title {
  margin-top: 250px;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  color: #404149;
}
.projects__cards {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1110px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 60px;
}
.projects__cards__card {
  width: 25%;
  margin-right: 50px;
}
.projects__cards__card__line {
  margin-top: 45px;
  width: 55px;
  height: 6px;
  background-color: #F7654A;
}
.projects__cards__card__title {
  margin-top: 15px;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  color: #404149;
}
.projects__cards__card__desc {
  color: #999999;
  line-height: 22px;
  margin-top: 20px;
  font-family: "Open Sans", sans-serif;
}

.sendemail {
  margin-top: 150px;
  background-color: #F7654A;
  padding: 30px;
}
.sendemail__maindiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1110px;
  margin-right: auto;
  margin-left: auto;
}
.sendemail__maindiv__text__title {
  font-family: "Oswald", sans-serif;
  font-size: 40px;
  color: #FFFFFF;
}
.sendemail__maindiv__text__desc {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  color: #FFFFFF;
}
.sendemail__maindiv__button__div {
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 175px;
  height: 49px;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
.sendemail__maindiv__button__div:hover {
  -webkit-box-shadow: 0 5px 20px #FFFFFF;
          box-shadow: 0 5px 20px #FFFFFF;
  cursor: pointer;
  color: #999999;
}
.sendemail__maindiv__button__div__text {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  margin-left: 15px;
  color: black;
}

.services {
  width: 1230px;
  margin-right: auto;
  margin-left: auto;
}
.services__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  color: #404149;
  text-align: center;
  margin-top: 150px;
}
.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.services__list__item {
  margin: 30px;
  background-color: #F7F7F7;
  width: 350px;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  line-height: 31px;
  font-size: 25px;
  font-family: "Oswald", sans-serif;
  color: #404149;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
.services__list__item:hover {
  background-color: #e1e1e1;
  font-size: 30px;
}

.partnership {
  margin-top: 150px;
  padding: 30px;
  background-color: #404149;
}
.partnership__maindiv__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 60px;
}
.partnership__maindiv__logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1110px;
  margin: 92px auto 70px;
}

.feedback__title {
  font-family: "Oswald", sans-serif;
  text-align: center;
  color: #404149;
  font-size: 36px;
  margin-top: 105px;
}
.feedback__maindiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.feedback__maindiv__comment {
  margin: 30px;
}
.feedback__maindiv__comment__user {
  font-family: "Oswald", sans-serif;
  font-size: 21px;
}
.feedback__maindiv__comment__text {
  position: relative;
  background-color: #F7F7F7;
  width: 350px;
  height: 260px;
  margin-bottom: 30px;
}
.feedback__maindiv__comment__text__symbol {
  position: absolute;
  font-weight: bold;
  font-size: 96px;
  font-family: "Oswald", sans-serif;
  color: #F7654A;
  margin-left: 30px;
}
.feedback__maindiv__comment__text__letters {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #999999;
  position: absolute;
  top: 80px;
  left: 30px;
}

.sendrequest {
  margin-top: 150px;
  background-color: #F7654A;
  padding: 30px;
}
.sendrequest__maindiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1110px;
  margin-right: auto;
  margin-left: auto;
}
.sendrequest__maindiv__text__title {
  font-family: "Oswald", sans-serif;
  font-size: 40px;
  color: #FFFFFF;
}
.sendrequest__maindiv__text__desc {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  color: #FFFFFF;
}
.sendrequest__maindiv__button__div {
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 175px;
  height: 49px;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
.sendrequest__maindiv__button__div:hover {
  -webkit-box-shadow: 0 5px 20px #FFFFFF;
          box-shadow: 0 5px 20px #FFFFFF;
  cursor: pointer;
  color: #999999;
}
.sendrequest__maindiv__button__div__text {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  margin-left: 15px;
  color: black;
}

.contacts__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  color: #404149;
  text-align: center;
  margin-top: 150px;
}
.contacts__maindiv {
  width: 1110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 60px auto 178px;
}
.contacts__maindiv__adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 255px;
  height: 72px;
}
.contacts__maindiv__adress__name {
  margin-top: 15px;
  font-size: 21px;
  font-family: "Oswald", sans-serif;
  color: #999999;
  text-align: center;
}
.contacts__maindiv__adress__location {
  margin-top: 15px;
  font-size: 21px;
  color: #000000;
  font-family: "Oswald", sans-serif;
  text-align: center;
}
.contacts__maindiv__numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 255px;
  height: 72px;
}
.contacts__maindiv__numbers__name {
  margin-top: 15px;
  font-size: 21px;
  font-family: "Oswald", sans-serif;
  color: #999999;
  text-align: center;
}
.contacts__maindiv__numbers__number {
  margin-top: 15px;
  font-size: 21px;
  color: #000000;
  font-family: "Oswald", sans-serif;
  text-align: center;
}
.contacts__maindiv__workinghours {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 255px;
  height: 72px;
}
.contacts__maindiv__workinghours__name {
  margin-top: 15px;
  font-size: 21px;
  font-family: "Oswald", sans-serif;
  color: #999999;
  text-align: center;
}
.contacts__maindiv__workinghours__time {
  margin-top: 15px;
  font-size: 21px;
  color: #000000;
  font-family: "Oswald", sans-serif;
  text-align: center;
}
.contacts__maindiv__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 255px;
  height: 72px;
}
.contacts__maindiv__email__name {
  margin-top: 15px;
  font-size: 21px;
  font-family: "Oswald", sans-serif;
  color: #999999;
  text-align: center;
}
.contacts__maindiv__email__mail {
  margin-top: 15px;
  font-size: 21px;
  color: #F7654A;
  font-family: "Oswald", sans-serif;
  text-align: center;
}

.footer {
  background-color: #404149;
  height: 82px;
}
.footer__maindiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1110px;
  margin: 0 auto 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__maindiv__copyright {
  font-family: "Open Sans", sans-serif;
  color: #999999;
  margin: 30px 0 30px 0;
}
.footer__maindiv__creator {
  font-family: "Open Sans", sans-serif;
  color: #999999;
  margin: 30px 0 30px 0;
}